/*
All font-family to Open Sans, sans-serif;
All text color to #515151
apply box-sizing as border-box
*/

body{
    font-family: "Open Sans", sans-serif;
    color: #01161E;
    font-size: 16px;
    box-sizing: border-box;
}

/*
h1- 30px, h2- 28px, h3- 26px, h4-24px, h5-22px
*/
h1{
    font-size: 30pt;
}

h2{
    font-size: 28pt;
}

h3{
    font-size: 26pt;
}

h4{
    font-size: 24pt;
}

h5{
    font-size: 22pt;
}

header{
    display: flex;
}

.logo{
display: flex;
padding-left: 24px;
justify-content: center;
align-items:center; /*for the word to be centered*/
}

.logo:after{
    content:'ACADEMY';
    color:slategrey;
    font-size: 24pt;
}

.desktop{
display:flex;
width: 100%;
justify-content: flex-end;
}

/*
Links
-all paddings 15px
-remove underline from the links
*/

.desktop>a {
    padding: 15px;
    text-decoration: none;
    color: slategrey;
}
.mobile{
    display: none;
}

/*
section 1

*/
.section1{
    display: flex;
    background-color:  rgba(207, 203, 203, 0.911);
    padding: 32px 24px;
    border-image-width: 60%;
}


/*.section1(space)img or .section1>img also can as there is only 1 img*/
.section1 img{
    width:60%;
}

/*section 1-content
left padding = 24px
align the text to center
*/
.section1-content{
    padding-left: 24px;
    align-self: center;
}
/*section1-content link styling*/
.s1t1{
    font-weight: bold;
    margin-bottom: 24px;
}

.s1t2{
    font-weight: bold;
}

.s1t2>a {
    background-color:slategrey ;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 60%;
    display: block;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
}
/*section1-content link hover styling*/
.s1t2> a:hover{
    background-color: darkolivegreen;
}

/*section 2 css*/
.section2{
    display:flex;
    padding-top: 32px;
    gap:24px;
}

.section2 a{
    text-decoration: none;
}

.section2 img{
    max-width:100%;
}

.s2-leftContent{
    flex-basis: 60%;
    padding-left: 24px;
}

.s2lefttext{
    padding-top: 32px;
}

.s2left1{
    font-weight: bold;
}

.s2left2{
    padding-top: 24px;
}

.s2left3{
    padding-top: 24px;
   padding-bottom: 32px; 
}
.s2-rightContent{
display:flex;
flex-direction: column;
flex-basis: 40%;
}
.s2-box1, .s2-box2, .s2-box3{
display:flex;
gap: 16px;
}

.s2-box1, .s2-box2, .s2-box3> img{
    flex-basis:35%;
    padding-left: 16px;
    padding-bottom: 16px;
}

.s2-box2, .s2-box3 >img{
    padding-top: 16px;
}


.s2-box3{
    background-color: rgba(207, 203, 203, 0.911);
}

.s2righttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s2r1{
    font-weight: bold;
}

.s2r2{
    padding-top: 8px;
    padding-bottom: 8px;
}

/*Start of section3*/


.section3 img{
    max-width:100%;
    height:auto;
}

.s3title {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    font-weight:bold;
}

.s3boxes{
    display:flex;
    flex-direction: column;
    padding:0px 72px 32px 72px;     
}

.s3row1{
    display: flex;
    gap: 32px;  
}

.s3row2{
    display:flex;
    padding-top: 32px;
    gap: 32px; 
    
}

.rowsingle{
display:flex;
flex-direction: column;
}

.rowtextbox1{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;   
}

.textboxtitle{
    font-weight: bold;
}

.textboxcourses, .textboxmsg{
    color: gray;
}

.textboxcourses{
    padding-top: 8px;
    padding-bottom: 8px;
}

/*End of section3*/



/*Start of section 4*/
.s4header {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    font-weight: bold;
}

.s4content{
    display: flex;
    margin-bottom: 32px;
    gap:24px;
}

.s4left{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    width:60%;
}

.v2{
    padding-top: 24px;
    font-weight: bold;
}
.v3{
    padding-top: 8px;
}

.s4right{
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
}
.s4r1, .s4r2{
    display: flex;
    align-items: center;
  
}


.s4r1{
    background-color: slategrey;
}

.s4r1 img, .s4r2 img{
    padding:16px;
    flex-basis: 35%;
}

.s4t1{
    font-weight: bold;
    padding-bottom: 16px;
}

/*End of section 4*/

/*Footer start*/
footer{
    display:flex;
    border-top: solid rgba(207, 203, 203, 0.911);
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 30px;
    justify-content: space-between;
}

/*section1 mobile view styling*/
@media screen and (max-width: 720px) 
{/*whatever CSS styling in the {} will be applied to devices breakpoint <=720px*/
    
    /*
    h1- 26px, h2- 24px, h3- 22px, h4-20px, h5-18px
    */
    h1{
        font-size: 26pt;
    }

    h2{
        font-size: 24pt;
    }

    h3{
        font-size: 22pt;
    }

    h4{
        font-size: 20pt;
    }

    h5{
        font-size: 18pt;
    }


    .desktop, .logo{
        /*hide desktop icon and logo when in mobile view*/
        display:none;
    }
    .mobile{
        display: flex;
        width:100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .section1-content{
        align-items: center;
    }
    .section1, .section2{
        flex-direction: column;
        align-items: center;
    }
    .section1 img{
        width:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .s2-box1, .s2-box2, .s2-box3{
        flex-direction: column;
    }

    .s2-box1, .s2-box2, .s2-box3>img{
        width: auto;
    }

    .rowsingle >img{
        display:none;
    }
    .rowsingle{
        background-color: rgba(207, 203, 203, 0.911);
        padding-top: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
        row-gap: 8px;
    }
    .textboxtitle{
        font-size:large;
    }
    .textboxcourses, .textboxmsg, .s4right, .vidbox, .s2-leftContent{
        display: none;
    }
    .s3row1, .s3row2{
        flex-direction: column;
    }
    
    .s4header, .s3title{
        padding-bottom: 16px;
        padding-top: 32px;
    }

    .s4right{
        display: none;
    }
    .v2, .v3{
        display: none;
    }

    .s4content{
        justify-content: center;
    }
}